<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= @title %></title>

    <link rel="stylesheet" href="/stylesheets/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/fonts.css">
    <link rel="stylesheet" href="/stylesheets/book_viewer.css">
  </head>

  <body>
    <div id="main">
      <div class="header">
        <h1>Users and Interests</h1>
      </div>

      <div class="content">
        <%= yield %>
      </div>
    </div>

    <script type="text/javascript" src="javascripts/ui.js"></script>
  </body>
  
  <footer>
    <div id="content">
      <% if @user %>
      <div class="header">
        <h1>Other Pages</h1>
      </div>
      <div class="pure-menu">
        <% @users.each do |user| %>
          <% next if user.to_s == @user.to_s %>
          <ul class="pure-menu-list">
            <a href="/<%= user %>" class="pure-menu-link"><li><%= user %></li></a>
          </ul>
        <% end %>
      </div>
      <% end %>
      <a href="/" class="pure-menu-link">
        <p>Total Users: <%= @users.size %></p>
        <p>Total Interests: <%= count_interests %></p>
      </a>
    </div>
  </footer>
  
</html>